body {
    margin: 0;
    padding: 0;
    background-image: url("/public/images/to-do.jpg");
    background-size: contain;        
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: #f5f5f5;       
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}